@page "/DataProperties"
@using PokeAByte.Web.Components.Properties
@using PokeAByte.Web.Models
<PageTitle>@PageTitle - Properties</PageTitle>

@if (!ClientService.IsCurrentlyConnected)
{
    <MudText Typo="Typo.h4" Color="Color.Error">No Mapper Loaded!</MudText>
}
else
{
    <MudText Typo="Typo.h5">
        All Properties
        @if (!string.IsNullOrWhiteSpace(MapperName))
        {
            <span> - @MapperName</span>
        }
    </MudText>
}
@if (PropertyTreeItems is not null && PropertyTreeItems.Any())
{
    <MudTreeView Items="PropertyTreeItems"
                 Color="Color.Secondary"
                 Dense="true"
                 Hover="true"
                 ExpandOnClick="false"
                 readonly>
        <ItemTemplate>
            @{
                var property = context.Value;
            }
            <MudTreeViewItem Items="@context.Children"
                             Expanded="@context.Expanded"
                             Value="@context.Value"
                             Text="@context.Text"
                             Style="@($"overflow:hidden;{GetCursor(context)}")"
                             OnClick="() => context.Expanded = !context.Expanded">
                <Content>
                    @if (context.HasChildren)
                    {
                        <MudIconButton Icon="@SetIcon(context)"
                                       OnClick="() => context.Expanded = !context.Expanded"
                                       Class="pr-2"/>
                    }
                    @if (property?.Value?.Property != null)
                    {
                        <PropertyExpansionPanel Context="@property.Value"
                                                TextWidth="@TextSize(125)"/>
                    }
                    else
                    {
                        <MudText Class="py-2">@context.Text</MudText>
                    }
                </Content>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
}
else if (ClientService.IsCurrentlyConnected)
{
    <MudText Typo="Typo.body1">Loading Properties: </MudText>
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
}