@using PokeAByte.Web.Models
<MudStack Row="true" Spacing="1">
    <MudText Typo="Typo.body2">
        @Context.MapperComparison.GetPath()
    </MudText>
    @*<MudIcon Icon="@GetSelectedIcon()"
             Class="cursor-pointer"/>*@
</MudStack>
<MudPaper style="@DataStyle" Class="px-4 py-2">
    <MudStack Spacing="0" Class="py-1">
        <MudText Typo="Typo.body2">Local Mapper</MudText>
        @if (Context.MapperComparison.CurrentVersion is null)
        {
            <MudText Typo="Typo.body2" Class="px-2">
                Local Version Not Found!
            </MudText>
        }
        else
        {
            <MudStack Row="true" Spacing="1" Class="px-2">
                <MudText Typo="Typo.body2">
                    Version: 
                    @if (string.IsNullOrEmpty(Context.MapperComparison.CurrentVersion?.Version))
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        <span>@Context.MapperComparison.CurrentVersion.Version</span>
                    }
                </MudText>
                <MudText Typo="Typo.body2"> | </MudText>
                <MudText Typo="Typo.body2">
                    Created:
                    @if (Context.MapperComparison.CurrentVersion is null || 
                         Context.MapperComparison.CurrentVersion.DateCreatedUtc == DateTime.MinValue ||
                         Context.MapperComparison.CurrentVersion.DateCreatedUtc == DateTime.MaxValue)
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        <span>@Context.MapperComparison.CurrentVersion.DateCreatedUtc</span>
                    }
                </MudText>
                <MudText Typo="Typo.body2"> | </MudText>
                <MudText Typo="Typo.body2">
                    Updated:
                    @if (Context.MapperComparison.CurrentVersion?.DateUpdatedUtc is null ||
                         Context.MapperComparison.CurrentVersion.DateUpdatedUtc == DateTime.MinValue || 
                         Context.MapperComparison.CurrentVersion.DateUpdatedUtc == DateTime.MaxValue)
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        <span>@Context.MapperComparison.CurrentVersion.DateCreatedUtc</span>
                    }
                </MudText>
            </MudStack>
        }
        <MudText Typo="Typo.body2">Remote Mapper</MudText>
        @if (Context.MapperComparison.LatestVersion is null)
        {
            <MudText Typo="Typo.body2" Class="px-2">
                Remote Version Not Found!
            </MudText>
        }
        else
        {
            <MudStack Row="true" Spacing="1" Class="px-2">
                <MudText Typo="Typo.body2">
                    Version:
                    @if (string.IsNullOrEmpty(Context.MapperComparison.LatestVersion?.Version))
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        <span>@Context.MapperComparison.LatestVersion.Version</span>
                    }
                </MudText>
                <MudText Typo="Typo.body2"> | </MudText>
                <MudText Typo="Typo.body2">
                    Created:
                    @if (Context.MapperComparison.LatestVersion is null ||
                         Context.MapperComparison.LatestVersion.DateCreatedUtc == DateTime.MinValue ||
                         Context.MapperComparison.LatestVersion.DateCreatedUtc == DateTime.MaxValue)
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        <span>@Context.MapperComparison.LatestVersion.DateCreatedUtc</span>
                    }
                </MudText>
                <MudText Typo="Typo.body2"> | </MudText>
                <MudText Typo="Typo.body2">
                    Updated:
                    @if (Context.MapperComparison.LatestVersion?.DateUpdatedUtc is null ||
                         Context.MapperComparison.LatestVersion.DateUpdatedUtc == DateTime.MinValue ||
                         Context.MapperComparison.LatestVersion.DateUpdatedUtc == DateTime.MaxValue)
                    {
                        <span>N/A</span>
                    }
                    else
                    {
                        <span>@Context.MapperComparison.LatestVersion.DateCreatedUtc</span>
                    }
                </MudText>
            </MudStack>
        }
    </MudStack>
</MudPaper>
@code {
    [Parameter] public VisualMapperComparisonModel Context { get; set; }
    private string DataStyle => Context.IsSelected ? "display: block" : "display: none";

    private string GetSelectedIcon() => Context.IsSelected ? 
            Icons.Material.Filled.ArrowDropUp : 
            Icons.Material.Filled.ArrowDropDown;

}