@if (!MapperConnectionService.IsCurrentlyConnected())
{
    <MudText Typo="Typo.h4" Color="Color.Error">No Mapper Loaded!</MudText>
}
else
{
    <MudText Typo="Typo.h5">
        All Properties
        @if (!string.IsNullOrWhiteSpace(MapperName))
        {
            <span> - @MapperName</span>
        }
    </MudText>
}
@if (PropertyItems.Any())
{
    <MudTreeView Items="PropertyItems"
                 Color="Color.Secondary"
                 Dense="true"
                 Hover="true"
                 ExpandOnClick="true">
        <ItemTemplate>
            <MudTreeViewItem Items="@context.DisplayedChildren"
                             @bind-Expanded="@context.IsExpanded"
                             Value="@context"
                             Icon="@SetIcon(context)"
                             Text="@context.Name">
                <BodyContent Context="bodyContext">
                    @if (context.Property is not null)
                    {
                        <div class="d-flex flex-grow-1 gap-4 pr-10">
                            <PropertyExpansionPanel Context="@context"/>
                        </div>
                    }
                    else
                    {
                        <MudText Class="py-2">@context.Name</MudText>
                    }
                </BodyContent>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
}
else if(MapperConnectionService.IsCurrentlyConnected())
{
    <MudText Typo="Typo.body1">Loading Properties: </MudText>
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
}