<MudContainer Fixed="true">
    <MudSimpleTable Dense="true" 
                    Style="overflow-x: auto;"
                    Bordered="true">
        <tbody>
        <tr>
            <td style="width: 10%">Path</td>
            <td>@Context.Path</td>
        </tr>
        <tr>
            <td style="width: 10%">Type</td>
            <td>@Context.Type</td>
        </tr>
        <tr>
            <td style="width: 10%">Address</td>
            <td>@Context.Address</td>
        </tr>
        <tr>
            <td style="width: 10%">Length</td>
            <td>@Context.Length</td>
        </tr>
        <tr>
            <td style="width: 10%">Size</td>
            <td>@Context.Size</td>
        </tr>
        <tr>
            <td style="width: 10%">Reference</td>
            <td>@Context.Reference</td>
        </tr>
        </tbody>
    </MudSimpleTable>
</MudContainer>